

.login-screen-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00ff55;
}



@media (min-width: 576px) and ((max-height: 850px)) {
    .login-screen-content {
        height: calc(100vh + 300px);
    }
}






