

.container-anuncio {
    height: 30px;
    background-color: #008080;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
}



