

.auth-content {
    width: 100%;
    height: 70%;
    position: relative;
    z-index: 1;
}



.img-logo-content {
    width: 220px;
    height: 220px;
    background-color: #0f5;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.img-logo {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/llamashop.png");
    background-repeat: no-repeat;
    background-position: top;
    opacity: 70%;
}


.auth-form-content {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 120px;
}


.title-llamashop {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #585852;
}


form {
    margin: 30px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: #005;
    margin-bottom: 10px;
}

.input-box {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
}


.btn-auth {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #58585256;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 4px;
    cursor: pointer;
}


@media (min-width: 768px) {

    .auth-content {
        margin-top: 100px;
    }

    .input-box, .btn-auth {
        width: 50%;
    }
}



.sugestion-auth {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sugestion-login {
    bottom: 22%;
}

.sugestion-register {
    bottom: -10%;
}




.sugestion-auth a {
    text-decoration: none;
}





/*   HORIZONTAL   */
@media (min-width: 576px) and ((max-height: 850px)) {
    .auth-content {
        margin-top: 100px;
    }

    form {
        align-items: center;
    }

    .input-box, .btn-auth {
        width: 60%;
    }

    .sugestion-login {
        bottom: 0;
    }

    .sugestion-register {
        bottom: -5%;
    }
}



