.list-cart-container {
    margin: 25px 10px;
}

.list-cart-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(87, 87, 87);
    letter-spacing: 2px;
    margin-bottom: 5px;
}


.btn-shop-container {
    display: flex;
    justify-content: flex-start;
}

.btn-shop-continue {
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 5px 10px;
    border: solid 1px #303030;
    background-color: #fff;
}




.list-product-order {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-list {
    width: 100%;
}


.cart-total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: baseline;
}


.title-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 15px;
}

.total-price {
    font-size: 1rem;
    font-weight: bold;
    color: #8f90ff;
}





@media (min-width: 576px) {
    .list-cart-title {
        font-size: 1.7rem;
    }
    
    .list-product-order {
        min-height: 50px;
    }
}


@media (min-width: 768px) {
    .list-cart-container {
        margin: 25px 30px;
    }
}

@media (min-width: 992px) {
    .list-cart-container {
        margin: 25px 100px;
    }

    .list-product-order {
        min-height: 200px;
    }
}


@media (min-width: 1200px) {
    .list-cart-container {
        margin: 25px 20%;
    }
    .list-product-order {
        min-height: 300px;
    }
}



