
.container-navbar {
    height: 50px;
    position: relative; /*par el nav-list-item*/
}

.wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list-click-0 {
    display: none;
}

.nav-list-click-1 {
    display: flex;
}

.nav-list-items-desplegable {
    list-style: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.nav-list-items-desplegable li {
    font-size: 1rem;
    padding: 10px 0;
    color: #fff;
}

/*
---- LEFT
*/
.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.lan {
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.search-contain {
    border: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-right: 10px;
}

.search-input {
    border: none;
    width: 90px;
}
.search-input:focus {
    outline: none;
}

.search-icon {
    font-size: 16px;
    color: #808080;
}


/*
---- CENTER
*/
.center {
    flex: 1;
    text-align: center;
}

.logo {
    font-weight: bold;
    font-size: 1.1rem;
}



/*
---- RIGHT
*/
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-items {
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 10px;
}

.shop-cart {
    font-size: 1.7rem !important;
}

.menu-icon {
    margin-left: 15px;
    cursor: pointer;
}
.menu-icon svg {
    font-size: 2rem;
    color: #808080;
}

.nav-list-items {
    list-style: none;
    display: none;
    padding: 0;
}


/*
*
* SMALL (>= 576 & < 768 px)
*
*/
@media (min-width: 576px) {
    .container-navbar {
        height: 60px;
    }

    .lan {
        display: block;
    }

    .search-contain {
        padding: 6px;
        margin-left: 10px;
    }

    .search-input {
        width: auto;
    }

    .logo {
        font-size: 1.5rem;
    }

    .menu-items {
        font-size: 1rem;
        margin-left: 0px;
        margin-right: 10px;
    }
}


/*
*
* MEDIUM (>= 768 & < 992 px)
*
*/
@media (min-width: 768px) {
    .logo {
        font-size: 2.2rem;
    }
    .menu-items {
        font-size: 1.5rem;
    }
}



