

.product-order-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}


.product-order-content-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-order-img {
    width: 100%;
}


.product-order-summary {
    flex: 2;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.product-order-caracters {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20px;
}

.product-order-caracter, .product-order-title {
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.product-order-caracter {
    font-size: 1rem;
    font-weight: 500;
    color: #00424b;
}


.product-order-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #3f7e76;
    margin-bottom: 15px;
}





.order-cantidad {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.operador-order {
    cursor: pointer;
    font-weight: bold;
    color: #eb9595;
    margin: 0 5px;
    padding: 1px 5px;
    border: 1px solid #cca;
    border-radius: 5px;
}

.num-order {
    color: #000;
    font-weight: 400;
    margin: 0 2px;
}




.product-order-price {
    font-size: 1rem;
    color: #777777;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.list-cart-pagar {
    margin-top: 30px;
}

.btn-pagar {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #c3d570;
    font-size: 1.2rem;
    letter-spacing: 20px;
    font-weight: bold;
    cursor: pointer;
}


/*---*/


@media (min-width: 576px) {

    .product-order-caracter {
        font-size: 1.2rem;
    }
    
    
    .product-order-title {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .product-order-price {
        font-size: 1.5rem;
        margin-right: 30px;
    }
}



@media (min-width: 768px) {
    .product-order-content-img {
        flex: 1;
    }

    .product-order-img {
        width: 55%;
    }
    
    .product-order-summary {
        flex: 1;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .product-order-caracters {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .product-order-price {
        font-size: 1.7rem;
        margin-bottom: 20px;
    }

    .cart-total-price {
        padding-right: 50px;
    }

}

@media (min-width: 992px) {
    .product-order-price {
        font-size: 2.25rem;
    }

    .title-price {
        font-size: 1.5rem;
    }

    .total-price {
        font-size: 1.5rem;
    }
}




