
.container-slider {
    width: 100vw;
    height: calc(100vh - 80px); /*restamos el navbar (50px) y anuncio (30px)*/
    background-color: #CCFFFF;
    position: relative;
}

.publicidad-content-left {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 1;
}

.publicidad-content-right {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 1;
}

.img-model-left {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.img-model-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.img-model {
    max-height: 450px;
    width: auto;
}



.publicidad-content {
    text-align: center;
}

.publicidad-content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.publicidad-content p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.shop-now {
    width: 120px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 15px;
    border: #000 2px solid;
    box-shadow: #000 0 1px 2px 1px;
}



/*
*
* SMALL (>= 576 & < 768 px)
*
*/
@media (min-width: 576px) {
    .publicidad-content-left {
        top: 110px;
    }
    
    .publicidad-content-right {
        top: 110px;
    }

    .publicidad-content h2 {
        font-size: 2.8rem;
    }
    
    .publicidad-content p {
        font-size: 1.3rem;
    }

    .img-model {
        max-height: 550px;
    }
}



/*
*
* MEDIUM (>= 768 & < 992 px)
*
*/
@media (min-width: 768px) {
    .publicidad-content-left {
        left: 30%;
        top: 25%;
    }
    
    .publicidad-content-right {
        right: 30%;
        top: 25%;
    }

    .publicidad-content h2 {
        font-size: 3rem;
        margin-bottom: 8px;
    }
    
    .publicidad-content p {
        font-size: 1.4rem;
        margin-bottom: 80px;
    }

    .img-model-left {
        right: 350px;
    }
    .img-model {
        max-height: 600px;
    }
}




/*HORIZONTAL*/
@media (max-height: 575px) and (max-width: 576px) {

    .publicidad-content p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    
    .shop-now {
        width: 100px;
        font-size: 1rem;
    }
    .publicidad-content h2 {
        font-size: 2rem;
    }
    
    .publicidad-content p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .img-model-left {
        right: 65%;
    }
    .img-model {
        height: 400px;
    }
}



@media (max-height: 475px) and (max-width: 576px) {
    .publicidad-content-left {
        top: 15%;
    }
    .publicidad-content-right {
        top: 15%;
    }
    .img-model {
        height: 300px;
    }
}



@media (max-height: 375px) and (max-width: 576px) {
    .img-model {
        height: 200px;
    }
}


