
.container-slider {
    width: 100vw;
    height: calc(100vh - 80px); /*restamos el navbar (50px) y anuncio (30px)*/
    background-color: #CCFFFF;
    position: relative;
}

.publicidad-content-left {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 1;
}

.publicidad-content-right {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 1;
}

.img-model-left {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.img-model-right {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.img-model {
    max-height: 400px;
    width: auto;
}



.publicidad-content {
    text-align: center;
}

.publicidad-content h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.publicidad-content p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.shop-now {
    width: 120px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px 15px;
    border: #000 2px solid;
    box-shadow: #000 0 1px 2px 1px;
}


/*
*
* SMALL (>= 576 & < 768 px)
*
*/
@media (min-width: 576px) {
    .publicidad-content-left {
        top: 70px;
    }
    
    .publicidad-content-right {
        top: 70px;
    }

    .publicidad-content h2 {
        font-size: 2.8rem;
    }
    
    .publicidad-content p {
        font-size: 1.3rem;
    }

    .img-model {
        max-height: 550px;
    }
}



/*
*
* MEDIUM (>= 768 & < 992 px)
*
*/
@media (min-width: 768px) {
    .publicidad-content-left {
        left: 30%;
        top: 25%;
    }
    
    .publicidad-content-right {
        right: 30%;
        top: 25%;
    }

    .publicidad-content h2 {
        font-size: 2.5rem;
        margin-bottom: 8px;
    }
    
    .publicidad-content p {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    .img-model-left {
        right: 400px;
    }
    .img-model {
        max-height: 600px;
    }
}

/*-------------HORIZONTAL MEDIUM-------------*/
@media (min-width: 768px) and ((max-height: 640px)) {
    .img-model {
        max-height: 500px;
    }
}

@media (min-width: 768px) and ((max-height: 550px)) {
    .img-model {
        max-height: 380px;
    }
}

@media (min-width: 768px) and ((max-height: 440px)) {
    .img-model {
        max-height: 300px;
    }
}




/*
*
* LARGE (>= 992 & < 1200 px)
*
*/
@media (min-width: 992px) {
    .publicidad-content-left {
        top: 30%;
    }
    
    .publicidad-content-right {
        top: 30%;
    }

    .publicidad-content h2 {
        font-size: 2.8rem;
        margin-bottom: 15px;
    }
    
    .publicidad-content p {
        font-size: 1.5rem;
    }
}

/*-----HORIZONTAL LARGE-----*/
@media (min-width: 768px) and ((max-height: 440px)) {
    .publicidad-content-left {
        top: 15%;
    }
    
    .publicidad-content-right {
        top: 15%;
    }
}


/*
*
* EXTRA LARGE (>= 1200)
*
*/
@media (min-width: 1200px) {
    .publicidad-content-left {
        top: 35%;
    }
    
    .publicidad-content-right {
        top: 35%;
    }

    .publicidad-content h2 {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    
    .publicidad-content p {
        font-size: 2rem;
    }

    .img-model-left {
        right: 600px;
    }
    .img-model {
        max-height: 700px;
    }
}


/*-----HORIZONTAL EXTRA LARGE-----*/
@media (min-width: 1200px) and ((max-height: 776px)) {
    .publicidad-content-left {
        top: 25%;
    }
    
    .publicidad-content-right {
        top: 25%;
    }

    .img-model {
        max-height: 500px;
    }
}




/*
*
* EXTRA EXTRA LARGE (>= 1400)
*
*/
@media (min-width: 1400px) {

    .img-model-left {
        right: 700px;
    }
    .img-model {
        max-height: 800px;
    }
}



